.color1 { color:#161616 };
.color2 {color: #FFFFFF;}
.color3 {color: #4980B9;}
.color4 {color: #C0C9D3;}
.color5 {color: #4980B9;}
.color6 {color: #2e6ca4;}



body{
    background-color: #161616;

}

.barra{
    position: fixed;
    background-color:#FFFFFF ;
    top: 0px;
    left: 0px;
    padding: 3px;
    width: 100%;
    border-style:ridge;
    border-color: #4980B9;
    border-width: thick;

    text-align: center;
    font-size: 22px;

    z-index: 1;
}

main{
    position:absolute;
    background-color:#FFFFFF ;
    margin: 100px;
    margin-top: 140px;
    padding: 30px;
    border-style: outset;
    border-color: #4980B9;
    border-width: thick;
    border-radius: 10px;

}

.indice{
    display: inline;
    margin-right: 80px;
    vertical-align: middle;
}

.aboutme{
    text-align: center;
}

.rightside{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-expanded;
    color: #161718;
    margin-left: 20px;
    margin-bottom: 1px;
}

.hola{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-expanded;
    color: #161718;
    text-align: center;
    margin-bottom: 1px;
}

.request{
    position: relative;
    margin-left: 300px;
    text-align: left;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #2e6ca4;} ;

}
