.color1 { color:#161616 };
.color2 {color: #FFFFFF;}
.color3 {color: #4980B9;}
.color4 {color: #C0C9D3;}
.color5 {color: #4980B9;}



body{
    background-color: #161616;

}

.barra{
    position: fixed;
    background-color:#FFFFFF ;
    top: 0px;
    left: 0px;
    padding: 3px;
    width: 100%;
    border-style:ridge;
    border-color: #4980B9;
    border-width: thick;

    text-align: center;
    font-size: 22px;

    z-index: 1;
}

main{
    position:absolute;
    background-color:#FFFFFF ;
    margin: 100px;
    margin-top: 140px;
    padding: 30px;
    border-style: outset;
    border-color: #4980B9;
    border-width: thick;
    border-radius: 10px;

}

body{
    background-color: #161616;
}


aside{
    float: left;
    width: 376px;
    background-color:#C0C9D3;
    margin: 10px;
}

article{
    float: right;
    width: 600px;
    margin: 10px;
    
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: bold;
    font-stretch: extra-expanded;
    color: #4980B9;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 2px;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-expanded;
    color: #161718;
    margin-left: 20px;
    margin-bottom: 1px;
}

.rule{
    border: none;
    height: 5px;
    background:#4980B9;
}

.rightside{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-expanded;
    color: #161718;
    margin-left: 20px;
    margin-bottom: 1px;
}

.gustos{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-expanded;
    color: #161718;
    margin-left: 30px;
    margin-bottom: 1px;
}

.escuela{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-expanded;
    color: #161718;
    margin-left: 30px;
    margin-bottom: 1px;

}

.subleftside{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-expanded;
    color: #161718;
    margin-bottom: 1px;
    text-align: center;
}

.leftside{
    text-align: center;
    font-size: 20px;

}

.wp{
    vertical-align: middle ;
    margin: 5px;
}

.ig{
    vertical-align: middle ;
    margin: 5px;
}

.gh{
    vertical-align: middle ;
    margin: 5px;
}

.correo{
    vertical-align: middle ;
    margin: 5px;
}

.low{
    position: absolute;
    background-color:#FFFFFF ;
    margin: 100px;
    margin-top:1395px;
    padding: 3px;
    width: 1070px;
    border-style: outset;
    border-color: #4980B9;
    border-width: thick;
    border-radius: 10px;

    text-align: center;
    font-size: 18px;
}

.indice{
    display: inline;
    margin-right: 80px;
    vertical-align: middle;
}